body{
        background-color: black;
      }

      .grey-buttton{
        background-color: rgb(51, 51, 51);
        border: none;
        color: white;
        height: 60px;
        width: 60px;
        border-radius: 60px;
        font-size: 26px;
        margin-right: 5px;
      }

      .orange-button{
        background-color: rgb(254 , 160 , 10);
        border: none;
        color: white;
        height: 60px;
        width: 60px;
        border-radius: 60px;
        font-size: 26px;
        margin-right: 5px;
      }

      .clear{
        font-size: 20px;
      }

      .display{
        color: white;
        font-size: 40px;
      }